<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Status <%= title %> Running</p>
    <h1>Dokumen API</h1>
    <a href="/api-docs">Dokumentasi API</a>
    <h1>Melihat Berita yg diproses</h1>
    <a href="/admin/queues">Tool Melihat Antrian Proses</a>
  </body>
</html>
